// Application Colors
$primary-color: #121212;
$shadeoff-primary: #272727;
$off-green: #39bf73;
$action-button: linear-gradient(
  90deg,
  rgba(242, 174, 48, 1) 29%,
  rgba(242, 105, 92, 1) 58%
);

// Application Fonts
$title-font: "Open Sans", sans-serif;
$page-font: "Montserrat", sans-serif;
$cardTitle-font: "Playfair Display", serif;
