.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1547573854-74d2a71d0826?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-attachment: fixed;

  .banner__content {
    position: absolute;
    top: 300px;
    left: 80px;
    max-width: 600px;
    text-align: left;

    h1 {
      font-size: 2em;
      color: $off-green;
      margin-bottom: 30px;
    }

    p {
      letter-spacing: 0.03em;
      line-height: 1.3em;
      margin-bottom: 20px;
    }

    .banner__button {
      background: $action-button;
      padding: 10px 30px;
      border: none;
      border-radius: 30px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
