.navbar {
  position: relative;
  background-color: $shadeoff-primary;
  height: 50px;

  .navbar__header {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
    padding: 0 10px;

    .navbar__mobileIcon {
      font-size: 1.5em;
    }
  }

  .navbar__menu {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding-left: 0;
  }
}
